# import

pandas를 사용하기 위해서 pandas 라이브러리를 임포트 해오자.

In [1]:
import pandas as pd

# Creating data

pandas에서는 핵심적인 두개의 객체가있다.

    (DataFrame, Series)
---
### (1) DataFrame:

딕셔너리 형태처럼 key가 첫번째 행에 들어가서, 그 다음행의 값에 대한 정보를 저장한다. 

이때 그 다음행들의 값은 리스트형식으로 저장된다.

값은 정수 뿐만 아니라 문자열 또한 가능하다.

이때 각 행의 번호에 

- index = [] 

이용해 행 번호를 바꿀수 있다.

---

In [5]:
pd.DataFrame({'yes' : [ 50, 21], 'no': ["bob", "like"]}, index = ['row1', 'row2'])

      yes    no
row1   50   bob
row2   21  like

### (2)Series

Series는 DataFrame과 깊은 관련이 있다. 

DataFrame의 한 열을 자른것이 Series 라고 생각하면 된다.

이때 DataFrame에서는 딕셔너리 형태의 key가 각 열에 대한 이름을 나타내 주었는데, 

Series는 그 열에 대한 이름을 name 을 이용하여 직접 설정해주어야 한다.

In [ ]:
pd.Series([30, 45, 60], index = ["age1", "age2", "age3"], 
          name = "people ages")

age1    30
age2    45
age3    60
Name: people ages, dtype: int64