# import

pandas를 사용하기 위해서 pandas 라이브러리를 임포트 해오자.

In [1]:
import pandas as pd

# Creating data

pandas에서는 핵심적인 두개의 객체가있다.

    (DataFrame, Series)
---
### (1) DataFrame:

딕셔너리 형태처럼 key가 첫번째 행에 들어가서, 그 다음행의 값에 대한 정보를 저장한다. 

이때 그 다음행들의 값은 리스트형식으로 저장된다.

값은 정수 뿐만 아니라 문자열 또한 가능하다.

이때 각 행의 번호에 

- index = [] 

이용해 행 번호를 바꿀수 있다.

    * 이때 index는 딕셔너리 밖에 리스트 형태로 저장되고, 
    
    각 value들 또한 list로 저장해야 하는것을 기억하자
---

In [12]:
pd.DataFrame({'yes' : [ 50, 21], 'no': ["bob", "like"]}, 
                 index = ['row1', 'row2'])

      yes    no
row1   50   bob
row2   21  like

### (2)Series

Series는 DataFrame과 깊은 관련이 있다. 

DataFrame의 한 열을 자른것이 Series 라고 생각하면 된다.

이때 DataFrame에서는 딕셔너리 형태의 key가 각 열에 대한 이름을 나타내 주었는데, 

Series는 그 열에 대한 이름을 name 을 이용하여 직접 설정해주어야 한다.

In [ ]:
pd.Series([30, 45, 60], index = ["age1", "age2", "age3"], 
          name = "people ages")

age1    30
age2    45
age3    60
Name: people ages, dtype: int64

# Read data

이미 존재하는 csv 파일을 읽기위해 우리는 

    - pd.read_csv 이용한다.

In [9]:
ex_data = pd.read_csv("./data/dongjak_df.csv")

shape 함수를 통해 읽어온 csv 파일의 크기를 확인 할 수 있다.

In [10]:
ex_data.shape

(14, 11)

head() 함수를 통해 우리는 첫번째 행부터 5개의 행을 추출해 확인 할 수 있다.

In [13]:
ex_data.head()

,senior_population,children_population,disabled_population,mobility_weak_population,total_population,senior_ratio,children_ratio,disabled_ratio,mobility_weak_ratio,district_name,district_code
0,5957,1661,1251,8869,32114,0.185495,0.051722,0.038955,0.276172,Noryangjin 1-dong,11200510
1,2255,253,545,3053,11234,0.200730,0.022521,0.048513,0.271764,Noryangjin 2-dong,11200520
2,5818,1817,1542,9177,37056,0.157006,0.049034,0.041613,0.247652,Daebang-dong,11200660
3,3896,649,754,5299,23009,0.169325,0.028206,0.032770,0.230301,Sadang 1-dong,11200620
4,5827,1850,948,8625,28786,0.202425,0.064267,0.032933,0.299625,Sadang 2-dong,11200630

지금 데이터는 csv파일 자체가 key,value 쌍으로만 저장되어있기때문에, 

head()를 통해 잘 읽히는 것을 볼 수 있다. 

그러나 csv 파일에 실제로 행번호가 저장되어있는 경우에는 

    - index_col

을 통해 첫번째 열을 제외 시킨후 파일을 읽을 수 있다.

In [14]:
ex_data = pd.read_csv("./data/dongjak_df.csv", index_col = 0)
ex_data.head()

,children_population,disabled_population,mobility_weak_population,total_population,senior_ratio,children_ratio,disabled_ratio,mobility_weak_ratio,district_name,district_code
senior_population,,,,,,,,,,
5957,1661,1251,8869,32114,0.185495,0.051722,0.038955,0.276172,Noryangjin 1-dong,11200510
2255,253,545,3053,11234,0.200730,0.022521,0.048513,0.271764,Noryangjin 2-dong,11200520
5818,1817,1542,9177,37056,0.157006,0.049034,0.041613,0.247652,Daebang-dong,11200660
3896,649,754,5299,23009,0.169325,0.028206,0.032770,0.230301,Sadang 1-dong,11200620
5827,1850,948,8625,28786,0.202425,0.064267,0.032933,0.299625,Sadang 2-dong,11200630

# Save to Csv

만든 DataFrame을 csv로 저장하기 위해서는

    - to_csv

를 이용하자.

In [16]:
animals = pd.DataFrame({"cow" : [12, 20], "goats" : [22, 19]})
animals.to_csv('./data/cows_and_goats.csv')