# import

In [2]:
import pandas as pd

ex_data = pd.read_csv("./data/dongjak_df.csv")
ex_data

,senior_population,children_population,disabled_population,mobility_weak_population,total_population,senior_ratio,children_ratio,disabled_ratio,mobility_weak_ratio,district_name,district_code
0,5957,1661,1251,8869,32114,0.185495,0.051722,0.038955,0.276172,Noryangjin 1-dong,11200510
1,2255,253,545,3053,11234,0.200730,0.022521,0.048513,0.271764,Noryangjin 2-dong,11200520
2,5818,1817,1542,9177,37056,0.157006,0.049034,0.041613,0.247652,Daebang-dong,11200660
3,3896,649,754,5299,23009,0.169325,0.028206,0.032770,0.230301,Sadang 1-dong,11200620
4,5827,1850,948,8625,28786,0.202425,0.064267,0.032933,0.299625,Sadang 2-dong,11200630
5,4665,1858,767,7290,24189,0.192856,0.076812,0.031709,0.301377,Sadang 3-dong,11200640
6,2777,606,560,3943,14185,0.195770,0.042721,0.039478,0.277970,Sadang 4-dong,11200650
7,2448,910,538,3896,14434,0.169600,0.063046,0.037273,0.269918,Sadang 5-dong,11200651
8,7371,2338,1464,11173,46166,0.159663,0.050643,0.031712,0.242018,Sangdo 1-dong,11200530
9,4407,2291,909,7607,27982,0.157494,0.081874,0.032485,0.271853,Sangdo 2-dong,11200540
10,4621,997,1133,6751,24456,0.188952,0.040767,0.046328,0.276047,Sangdo 3-dong,11200550
11,5357,1358,1318,8033,28564,0.187544,0.047542,0.046142,0.281228,Sangdo 4-dong,11200560
12,4093,1441,823,6357,25118,0.162951,0.057369,0.032765,0.253085,Sindaebang 1-dong,11200670
13,3468,1513,781,5762,22445,0.154511,0.067409,0.034796,0.256716,Sindaebang 2-dong,11200680

# Natice accessors

    DataFrame.열이름 
을 통해 우리는 특정 열의 값들을 추출 할 수 있다.

In [3]:
ex_data.senior_population

0     5957
1     2255
2     5818
3     3896
4     5827
5     4665
6     2777
7     2448
8     7371
9     4407
10    4621
11    5357
12    4093
13    3468
Name: senior_population, dtype: int64

    또한 열의 이름을 딕셔너리의 key값 찾는것과 동일하게 찾을 수 있다.

In [4]:
ex_data['senior_population']

0     5957
1     2255
2     5818
3     3896
4     5827
5     4665
6     2777
7     2448
8     7371
9     4407
10    4621
11    5357
12    4093
13    3468
Name: senior_population, dtype: int64

    마찬가지로 행열에 접근 하듯 값을 찾아낼 수 있다.

In [7]:
ex_data['senior_population'][0]

np.int64(5957)

# iloc 과 loc

## iloc vs loc

iloc은 숫자 기반으로 dataframe에 접근 하고 싶을때 사용한다.

반대로 loc은 라벨(이름) 기반으로 접근 하고 싶을때 사용한다.

---
    df.iloc[]은 해당 row의 값들에 접근한다.

In [8]:
ex_data.iloc[0]

senior_population                        5957
children_population                      1661
disabled_population                      1251
mobility_weak_population                 8869
total_population                        32114
senior_ratio                         0.185495
children_ratio                       0.051722
disabled_ratio                       0.038955
mobility_weak_ratio                  0.276172
district_name               Noryangjin 1-dong
district_code                        11200510
Name: 0, dtype: object

    df.iloc[]은 슬라이싱이 가능하다.

In [9]:
ex_data.iloc[:,0]

0     5957
1     2255
2     5818
3     3896
4     5827
5     4665
6     2777
7     2448
8     7371
9     4407
10    4621
11    5357
12    4093
13    3468
Name: senior_population, dtype: int64

In [11]:
ex_data.iloc[-5:]

,senior_population,children_population,disabled_population,mobility_weak_population,total_population,senior_ratio,children_ratio,disabled_ratio,mobility_weak_ratio,district_name,district_code
9,4407,2291,909,7607,27982,0.157494,0.081874,0.032485,0.271853,Sangdo 2-dong,11200540
10,4621,997,1133,6751,24456,0.188952,0.040767,0.046328,0.276047,Sangdo 3-dong,11200550
11,5357,1358,1318,8033,28564,0.187544,0.047542,0.046142,0.281228,Sangdo 4-dong,11200560
12,4093,1441,823,6357,25118,0.162951,0.057369,0.032765,0.253085,Sindaebang 1-dong,11200670
13,3468,1513,781,5762,22445,0.154511,0.067409,0.034796,0.256716,Sindaebang 2-dong,11200680

In [14]:
ex_data.loc[9 , "senior_population"]

np.int64(4407)

In [16]:
ex_data.loc[:, ["senior_population", "children_population"]]

    senior_population  children_population
0                5957                 1661
1                2255                  253
2                5818                 1817
3                3896                  649
4                5827                 1850
5                4665                 1858
6                2777                  606
7                2448                  910
8                7371                 2338
9                4407                 2291
10               4621                  997
11               5357                 1358
12               4093                 1441
13               3468                 1513

# Set_index

set_index를 통해 해당 열을 기준 행번호로 바꿀수있다.

In [18]:
ex_data.set_index("senior_population")

,children_population,disabled_population,mobility_weak_population,total_population,senior_ratio,children_ratio,disabled_ratio,mobility_weak_ratio,district_name,district_code
senior_population,,,,,,,,,,
5957,1661,1251,8869,32114,0.185495,0.051722,0.038955,0.276172,Noryangjin 1-dong,11200510
2255,253,545,3053,11234,0.200730,0.022521,0.048513,0.271764,Noryangjin 2-dong,11200520
5818,1817,1542,9177,37056,0.157006,0.049034,0.041613,0.247652,Daebang-dong,11200660
3896,649,754,5299,23009,0.169325,0.028206,0.032770,0.230301,Sadang 1-dong,11200620
5827,1850,948,8625,28786,0.202425,0.064267,0.032933,0.299625,Sadang 2-dong,11200630
4665,1858,767,7290,24189,0.192856,0.076812,0.031709,0.301377,Sadang 3-dong,11200640
2777,606,560,3943,14185,0.195770,0.042721,0.039478,0.277970,Sadang 4-dong,11200650
2448,910,538,3896,14434,0.169600,0.063046,0.037273,0.269918,Sadang 5-dong,11200651
7371,2338,1464,11173,46166,0.159663,0.050643,0.031712,0.242018,Sangdo 1-dong,11200530
4407,2291,909,7607,27982,0.157494,0.081874,0.032485,0.271853,Sangdo 2-dong,11200540
4621,997,1133,6751,24456,0.188952,0.040767,0.046328,0.276047,Sangdo 3-dong,11200550
5357,1358,1318,8033,28564,0.187544,0.047542,0.046142,0.281228,Sangdo 4-dong,11200560
4093,1441,823,6357,25118,0.162951,0.057369,0.032765,0.253085,Sindaebang 1-dong,11200670
3468,1513,781,5762,22445,0.154511,0.067409,0.034796,0.256716,Sindaebang 2-dong,11200680

# many accessor method

    (1) 특정 열과 해당 값을 논리연산이 가능하다.

In [19]:
ex_data.senior_population == 5957

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
Name: senior_population, dtype: bool

    (2) loc과 논리연산자를 통해 특정 값의 행에 접근 가능하다.

In [30]:
ex_data.loc[ex_data.senior_population == 5957]
#ex_data.loc["senior_population" == 5957]

,senior_population,children_population,disabled_population,mobility_weak_population,total_population,senior_ratio,children_ratio,disabled_ratio,mobility_weak_ratio,district_name,district_code
0,5957,1661,1251,8869,32114,0.185495,0.051722,0.038955,0.276172,Noryangjin 1-dong,11200510

In [29]:
ex_data.loc[(ex_data.senior_population == 5957) & (ex_data.children_population >= 649)]

,senior_population,children_population,disabled_population,mobility_weak_population,total_population,senior_ratio,children_ratio,disabled_ratio,mobility_weak_ratio,district_name,district_code
0,5957,1661,1251,8869,32114,0.185495,0.051722,0.038955,0.276172,Noryangjin 1-dong,11200510

In [28]:
ex_data.loc[(ex_data.senior_population == 5957) | (ex_data.children_population >= 649)]

,senior_population,children_population,disabled_population,mobility_weak_population,total_population,senior_ratio,children_ratio,disabled_ratio,mobility_weak_ratio,district_name,district_code
0,5957,1661,1251,8869,32114,0.185495,0.051722,0.038955,0.276172,Noryangjin 1-dong,11200510
2,5818,1817,1542,9177,37056,0.157006,0.049034,0.041613,0.247652,Daebang-dong,11200660
3,3896,649,754,5299,23009,0.169325,0.028206,0.032770,0.230301,Sadang 1-dong,11200620
4,5827,1850,948,8625,28786,0.202425,0.064267,0.032933,0.299625,Sadang 2-dong,11200630
5,4665,1858,767,7290,24189,0.192856,0.076812,0.031709,0.301377,Sadang 3-dong,11200640
7,2448,910,538,3896,14434,0.169600,0.063046,0.037273,0.269918,Sadang 5-dong,11200651
8,7371,2338,1464,11173,46166,0.159663,0.050643,0.031712,0.242018,Sangdo 1-dong,11200530
9,4407,2291,909,7607,27982,0.157494,0.081874,0.032485,0.271853,Sangdo 2-dong,11200540
10,4621,997,1133,6751,24456,0.188952,0.040767,0.046328,0.276047,Sangdo 3-dong,11200550
11,5357,1358,1318,8033,28564,0.187544,0.047542,0.046142,0.281228,Sangdo 4-dong,11200560
12,4093,1441,823,6357,25118,0.162951,0.057369,0.032765,0.253085,Sindaebang 1-dong,11200670
13,3468,1513,781,5762,22445,0.154511,0.067409,0.034796,0.256716,Sindaebang 2-dong,11200680

    (3) isin을 통해 해당 값이 속한 행을 추출할 수 있다.

In [31]:
ex_data.loc[ex_data.senior_population.isin([5957, 4665])]

,senior_population,children_population,disabled_population,mobility_weak_population,total_population,senior_ratio,children_ratio,disabled_ratio,mobility_weak_ratio,district_name,district_code
0,5957,1661,1251,8869,32114,0.185495,0.051722,0.038955,0.276172,Noryangjin 1-dong,11200510
5,4665,1858,767,7290,24189,0.192856,0.076812,0.031709,0.301377,Sadang 3-dong,11200640

    (4) notnull()을 통해 비어있지 않은 DataFrame을 추출할 수 있다.

In [32]:
ex_data.loc[ex_data.senior_population.notnull()]

,senior_population,children_population,disabled_population,mobility_weak_population,total_population,senior_ratio,children_ratio,disabled_ratio,mobility_weak_ratio,district_name,district_code
0,5957,1661,1251,8869,32114,0.185495,0.051722,0.038955,0.276172,Noryangjin 1-dong,11200510
1,2255,253,545,3053,11234,0.200730,0.022521,0.048513,0.271764,Noryangjin 2-dong,11200520
2,5818,1817,1542,9177,37056,0.157006,0.049034,0.041613,0.247652,Daebang-dong,11200660
3,3896,649,754,5299,23009,0.169325,0.028206,0.032770,0.230301,Sadang 1-dong,11200620
4,5827,1850,948,8625,28786,0.202425,0.064267,0.032933,0.299625,Sadang 2-dong,11200630
5,4665,1858,767,7290,24189,0.192856,0.076812,0.031709,0.301377,Sadang 3-dong,11200640
6,2777,606,560,3943,14185,0.195770,0.042721,0.039478,0.277970,Sadang 4-dong,11200650
7,2448,910,538,3896,14434,0.169600,0.063046,0.037273,0.269918,Sadang 5-dong,11200651
8,7371,2338,1464,11173,46166,0.159663,0.050643,0.031712,0.242018,Sangdo 1-dong,11200530
9,4407,2291,909,7607,27982,0.157494,0.081874,0.032485,0.271853,Sangdo 2-dong,11200540
10,4621,997,1133,6751,24456,0.188952,0.040767,0.046328,0.276047,Sangdo 3-dong,11200550
11,5357,1358,1318,8033,28564,0.187544,0.047542,0.046142,0.281228,Sangdo 4-dong,11200560
12,4093,1441,823,6357,25118,0.162951,0.057369,0.032765,0.253085,Sindaebang 1-dong,11200670
13,3468,1513,781,5762,22445,0.154511,0.067409,0.034796,0.256716,Sindaebang 2-dong,11200680

    (5) 특정 열의 value들을 바꿀 수 있다.

In [33]:
ex_data['children_population'] = 'child' 
ex_data['children_population']

0     child
1     child
2     child
3     child
4     child
5     child
6     child
7     child
8     child
9     child
10    child
11    child
12    child
13    child
Name: children_population, dtype: object